* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40x;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.cont-tittle {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.cont-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #434c5a;
}

.cont-link-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.tech-skil-tittle {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.tech-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.ts-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;;
    margin-left: 15px;
}

.sscontainer {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;   
}

.ss-tittle {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;  
}

.ss-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}

.tst {
    color: #d8dadd;
}

.prof {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

.info-container {
    margin-bottom: 65px;
}

.proj-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.pro-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #bebebe;
    font-weight: 100;
}

.proj-item {
    font-weight: 700;
    margin-left: 17px;
}

.proj-container {
    margin-bottom: 55px;
}

.profess-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.company-name {
    color: #ff7011;
}

.proffession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    
}

.pr-slash {
    color: #000;
}

.professional-duties {
    margin-top: 14px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.profession-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.university {
    color: #ff7011;
}

